<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@coordinates["latitude"]%>, <%=@coordinates["longitude"]%>, <%=@json_results%>)
    });
    </script>
<% end %>

<h1 align=center>Here are your search results:</h1>


<% @gear_items.each do |gear_item| %>
  <div class="result">
    <p class="name"><%=link_to "#{gear_item.name}", "/gear_items/#{gear_item.id}" %></p>
    <p class="location">Located In: <%= gear_item.location%></p>
    <p class="price">Price Per Day: $<%= gear_item.price %></p>
  </div>
<% end %>

<p>
  <div id="map"></div>
</p>
