<h1 align= "center">Welcome to Gear Hub!</h1>

<center>

<h2>What do you want to rent?</h2>

<%= form_tag '/search', method: :get do |f| %>

<%= label_tag "Type of Gear" %><br>
<%= text_field_tag :keyword %><br>

<%= label_tag "Pickup location (city, state)" %><br>
<%= text_field_tag :location %><br>

<%= label_tag "How many miles can you travel to pick it up?" %></br>
<%= number_field_tag :distance %><br>

<%= label_tag :pick_up_date %>
<%= date_field_tag :start_date %><br>

<%= label_tag :return_date %>
<%= date_field_tag :end_date %><br>

<%= submit_tag 'Search' %>
<% end %>

</center>
