<h1>My Profile</h1>
<h2><%= current_user.username %></h2>
<%= image_tag(current_user.profile_picture) %>
<div class="about_me">
<h3>About me: <%=current_user.about_me%></h3>
</div>

<%=link_to "Edit Profile", "/profile/edit" %>
<%=link_to "Messages", "/user/messages" %>

<h4>Requested Rentals</h4>
<div class="requested_rentals">
  <% current_user.requested_rentals.each do |rental| %>
    <%= rental.gear_item.name %>
</div>

<h4>Current Rentals</h4>
<div class="current_rentals">
  <% current_user.current_rentals.each do |rental| %>
    <%= rental.gear_item.name %>
    <%end %>

</div>

<h4>Upcoming Rentals</h4>
<div class="upcoming_rentals">
  <% current_user.upcoming_rentals.each do |rental| %>
    <%= rental.gear_item.name %>
    <%end %>

</div>

<h4>Past Rentals</h4>
<div class="past_rentals">
  <% current_user.past_rentals.each do |rental| %>
    <%= rental.gear_item.name %>
    <%end %>
</div>
