<div id='item'>
  <h3><%= @item.name %></h3>
  <img src= <%= @item.photo %>>
  <hr>
  <p><%= @item.description %></p>
  <p>Price: $<%= @item.price  %></p>
  <p><%= @item.status.capitalize %></p>
</div>

<% if current_user %>
  <%= link_to 'Rent Gear', "/rental/#{@item.id}" %>
<% else %>
  <h3><%= link_to 'Login to Rent', '/auth/google_oauth2' %></h3>
<% end %>
