<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="user-id" data-userid="<%= current_user.id %>"></div>

<h1>Inbox</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
        <%= render 'form', room: Room.new %>
        <hr>
        <% @rooms.each do |room|%>
          <%= link_to room do %>
          <div class="card">
            <div class="card-body mb-2">
              <%= room.name.capitalize%><br>
              <%= link_to 'Delete', room, method: :delete %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-8">
        <% if @room.present? %>
        <h2>Hello, <%= current_user.name %></h2>
        <div class="chat-room">
          <h3><%= @room.name.capitalize %></h3>
          <div id="messages">
            <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
        </div>
        <div class="chat-box">
          <%= render 'messages/form', message: Message.new, room: @room %>
        </div>
        <% end %>
      </div>  
    </div>
  </div>
</div>

